body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}

#dropArea {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  }
  
  #dropArea.dragover {
    border-color: #000;
    background-color: #eee;
  }
  
  #imageInput {
    display: none;
  }
